@mixin border-radius($border-radius) {
  -webkit-border-radius: $border-radius;
     -moz-border-radius: $border-radius;
      -ms-border-radius: $border-radius;
          border-radius: $border-radius;
}

@mixin transition($transition) {
  -webkit-transition: all .2s ease;
   -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
     -o-transition: all .2s ease;
        transition: all .2s ease;
}

@mixin transform($transform) {
-webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
		-o-transform: scale(1.1);
			-ms-transform: scale(1.1);
				transform: scale(1.1);
}

// Button


.btn-primary{background: $primary-color; border-radius: 0px; padding: 2px 46px 6px; color: $white; font-weight: 600; text-transform: $up-case; border:1px solid transparent; @include transition(.2s); font-size:$font40; transform: skewX(-15deg);
   span{transform: skewX(15deg); display: $lnbl; }
  &:focus, &:hover, &:active{background:$secondary-color!important; border:1px solid transparent!important; color: $white!important; box-shadow: $none!important;}
}

.form-control:focus{box-shadow: none; outline: none;}
.btn-search:focus{box-shadow: none; outline: none;}
.mt-42{margin-top: 42px!important;}
.mt-46{margin-top: 46px!important;}



/*orange-seal-wrapper*/
.orange-seal-wrapper{ position: $rel;
  .orange-seal-title{background: $white; padding: 63px 0 50px; box-shadow: 0 1px 10px rgba(32,32,32,0.1); width: 100%; max-width: 1090px; margin:-186px auto 0; text-align: $align-center; position: $rel;
      h1{font-size: 47px; color:$secondary-color; 
     span{color: $primary-color;}
      }
       p{font-size: $font18; color: #222222; padding-top: 10px; margin:$zro;}
       &:before{position: $abs; left:78px; top:89px;  background: url(../img/orange-seal-left-bordr.png)no-repeat; content: ''; width: 194px; height:522px; z-index: 1;} 
       &:after{position:$abs; right:37px; top:89px; background: url(../img/orange-seal-right-border.png)no-repeat; content: ''; width: 160px; height:1050px; z-index: 1; } 
   
  }
  .map{text-align: $align-center; position:$rel; 
    .find-location{position: $abs; left: 153px; bottom:265px;  text-align: $align-left; 
    h3{ background: url(../img/popup-img.png)no-repeat; color: $white; width:611px; height:198px; font-size: 53px; line-height: 142px; text-align: $align-center;}
    img{display:$lnbl; padding:26px 0 0 95px;}
    }
    }

    .right-border{position: $abs; right:0; bottom:-111px; content: ''; width: 28px; height: 766px; background:$secondary-color;   transform: skewY(20deg); z-index: 2;}

  }


 

h2{font-size: 47px; color:$secondary-color; text-transform: $up-case; text-align:$align-center;position:$rel; padding-bottom:18px; margin-bottom: 25px; }
h2:before{position: $abs; bottom:$zro; left:$zro; right:$zro; width: 119px; height:8px; background: $primary-color; content:''; margin: 0 auto;} 




/*products*/
.products{padding: 168px 0 140px; background:url(../img/product-bg.png)no-repeat right top; position:$rel;
  .container-fluid{padding: 0 85px;}
  h2{margin-bottom: 60px;}
  .item{text-align:$align-center; margin-bottom: 15px;
    img{ margin: 0 auto !important; }
    h3{font-size: 34px; color:$base-color; margin:10px 0 20px;}
    p{font-size: 16px; color: $base-color; line-height: 22px; font-weight: 400; max-width: 302px; text-align: $align-center; margin: 0 auto;}
  }

.left-border{position: $abs; left:0; bottom:-210px; content: ''; width: 28px; height: 766px; background:$primary-color;   transform: skewY(20deg); z-index: 2; }
.find-products{text-align: center; margin-top:66px;
  .btn-primary{padding: 2px 64px 4px; line-height: 67px;}
}
.owl-nav {
  .owl-prev{background: url(../img/grey-left-arrow.png) no-repeat; width: 26px; height:47px !important; position: $abs !important; left:-42px; top:41%; font-size: 0; @include  transition(.2s);
    &:hover{background:url(../img/left-arrow1.png)no-repeat; }
  }
  .owl-next{background: url(../img/grey-right-arrow.png) no-repeat; width: 26px; height:47px; position: $abs;right:-42px; top:41%; font-size: $zro; @include  transition(.2s);
    &:hover{background:url(../img/right-arrow1.png)no-repeat; }
  }
}
}

/*NEWS & POSTS*/
.news{
  h2{margin-bottom: 40px;}
  .container-fluid{padding: 0;}
  .owl-carousel .owl-item img{margin-bottom: $zro;}
  .item{ position: $rel;  transform: skewX(12deg);
    &:before{position: $abs;content: ""; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.9); top: $zro; left: $zro; right: $zro; opacity: 0; @include  transition(.2s); z-index: 1; }
    &:hover{
      &:before{opacity: 1;}
    }
    .hover-content{top: 53%; margin-top:-162px; transform: skewX(-12deg);position: $abs; left: $zro; right: $zro; opacity: 0; text-align: $align-center; @include  transition(.2s); z-index: 2; padding: 30px 20px;
      .top-title{font-size: 17px; color: #222; font-family: 'Arial';}
        h3{font-size: 35px; color:$secondary-color;}
       p{font-size: 17px; color:#222; line-height: 20px;}
       a.read-btn{font-size: 23px; color:$primary-color; text-decoration: none; @include  transition(.2s);
        &:hover{color:$secondary-color;}
       }
  }
  &:hover {
    .hover-content{opacity: 1;}
  }
  }

.owl-nav {
  .owl-prev{background: url(../img/left-arrow.png) no-repeat; width: 26px; height:47px; position: $abs; left:43px; top:40%; font-size: 0; @include  transition(.2s);
    &:hover{background:url(../img/left-arrow1.png); }
  }
  .owl-next{background: url(../img/right-arrow.png) no-repeat; width: 26px; height:47px; position: $abs;right:43px; top:40%; font-size: 0; @include  transition(.2s);
    &:hover{background:url(../img/right-arrow1.png); }
  }
}

}


/*.about*/
.about{background: url(../img/about.bg.jpg)no-repeat top center /cover; padding: 245px 0 240px;
 h2{color: #fff;  text-align: left; margin-bottom:10px;
    &:before{background:$secondary-color; margin:0; width: 78px;
 }
}

  .about-content{ padding-left: 100px;  
    h3{font-size: 34px; color: $white; padding: 10px 0;}
    p{font-size: 17px; color:$white; line-height: 22px; padding:10px 0 15px; max-width: 571px; }
    .btn-primary{background: $secondary-color; color:$white;  padding: 2px 46px 4px; line-height: 67px;
     &:hover{background: $white!important;  color:$secondary-color!important;}
     }
}
}


/*blog page*/
.blog-banner{background: url(../img/blog.jpg)no-repeat; background-size: cover; min-height: 390px;}
.blog-banner{background: url(../img/blog.jpg)no-repeat; background-size: cover; min-height: 390px;}
.blog-box {
  padding-bottom: 100px;
  h2{color: $white; background: $white; color: $secondary-color; padding-top: 36px; font-size: 76px; max-width: 424px; margin: -88px auto 0; position: $rel;}
  .custom-container{padding: 56px 80px  0px;}

  /*card*/ 
  .card{ border:$none;  box-shadow: 6px 7px 12px rgba(32, 32, 32, 0.1);
  
    .img-box{position: $rel;  @include transition(.2s);
      img{width: 100%;}
      .overlay{position: $abs; content: ''; background: rgba(255, 255, 255, 0.7); ; top: $zro; right: $zro; left: $zro; bottom: $zro; @include transition(.2s); }
    }

.card-body{padding: 34px 30px 30px;
  .card-title{
    color: $base-color; font-size:$font36; margin: 0px 0px 14px; text-decoration: $none; @include transition(.2s); line-height: 42px;
     &:hover{color:$primary-color; }

  }
  .card-text{font-size: $font18; color:$base-color; text-transform: uppercase; margin: 15px 0 36px; max-width: 224px;
    a{ font-weight: 700; color:$base-color; text-decoration: $none; @include transition(.2s);
      &:hover{color:$primary-color; }
    }
  }
  ul {
    li{display: inline-block;  position: $rel; padding: 0 26px 0 36px;
      a{font-size: 18px; color: $base-color; text-decoration: $none;  @include transition(.2s);
           &:hover{color:$primary-color;}
      }
      &:first-child{
        a{
        &:before{position:$abs; content: ""; background: url(../img/heart.png)no-repeat; width: 27px; height: 25px; top: $zro; left: $zro; @include transition(.2s);}
      }
      }
      &:first-child{
        a:hover{
           &:before{background: url(../img/heart-hover.png);}
        }
      }

      &:last-child{
        a{
        &:before{position:$abs; content: ""; background: url(../img/msg.png)no-repeat; width: 26px; height: 24px; top: 2px; left: $zro; @include transition(.2s);}
      }
      }
      &:last-child{
        a:hover{
          &:before{background: url(../img/msg-hover.png);}
        }
      }


  }
}
 
}
 .card-footer{background: $secondary-color; color: $white; font-size: $font36; text-align: $align-center; width: 100%; transform: skewX(0deg); @include border-radius(0); padding: 12px 0px 14px; @include transition(.2s);
    &:hover{background: $primary-color!important; color: $white!important;}
  }
  &:hover{
    .overlay{opacity: 0; visibility: hidden;}
   .card-footer{background: $primary-color; color: $white;}

  }
}
}

.serach-row{
  .category{
    &.input-group{ position: $rel;
      &:before{position: $abs; content: ''; width: 56px; border: 2px solid #dbdcde; background: $white; top: $zro; bottom: $zro; right: -11px; transform: skewX(-23deg);}
    }
   select{background: url(../img/down-arrow.png)no-repeat; background-position-x: 99%; background-position-y: 50%;  position: $rel;}
    .form-control{border:none; font-size: $font16; font-family: 'arial'; font-weight: 700; color: #a4a4a4; height: 50px; border:2px solid #dbdcde; border-right: $none; @include border-radius(0); height: 50px; -moz-appearance:none; /* Firefox */
-webkit-appearance:none; /* Safari and Chrome */
appearance:none;
     &:-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a4a4a4;
}
:-moz-placeholder { /* Firefox 19+ */
  color: #a4a4a4;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a4a4a4;
}
}
  }
  .search{
   .input-group-text{background: url(../img/search.png)no-repeat; background-position: 19px; width: 50px; border:$none; position: $rel;
    &:before{position: $abs; content: ''; width: 56px; border: 2px solid #dbdcde; background: $white; top: $zro; bottom: $zro; right: -11px; transform: skewX(-23deg); z-index: -1;}
    } 
   .form-control{text-align: right; border:$none; font-size: $font16; font-family: 'arial'; font-weight: 700; color: #a4a4a4; height: 50px; padding: 0 36px;background: $none; border:2px solid #dbdcde; border-left: $none; @include border-radius(0);  height: 50px; text-overflow: ellipsis;
    &:-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a4a4a4;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #a4a4a4;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #a4a4a4;
}
}
  }
}

.top-title {
  h2{color: #fff; background: #fff; color: $secondary-color; padding-top: 36px; font-size: 76px; max-width: 424px; margin: -88px auto 0; position: $rel;}
}
/*about page*/
.about-banner{background: url(../img/about-banner.jpg)no-repeat top center /cover; min-height: 424px;}
.aboutus-content{position:$rel;
  h2{margin-bottom: 53px;}
  .orange-seal{  background: url(../img/s.png)no-repeat right 192px bottom -172px; overflow: hidden;
    .orange-content{padding: 145px 0 170px 126px; 
      h3{font-size:$font36; color: $secondary-color; margin-bottom: 18px;}
        p{color: #000; font-size: 18px;}
      
    }
  }
  .right-border{position: $abs; right:0; bottom:-111px; content: ''; width: 28px; height: 766px; background:$secondary-color;   transform: skewY(20deg); z-index: 2;}
}

.facility-wrapper{ position:$rel;
   .container-fluid{padding: 0;}
  .facility-listing{background: $primary-color;  padding: 23px 0 23px 320px;  position:$rel; margin: 0; list-style: none; 
    &:before{position: $abs; left:-46px; top:0; width: 179px; height:256px; transform: skewX(-20deg); content: ''; z-index: 2; background:$white;}
    li{display: inline-block; width: 23%; padding: 0 10px;
      .number{font-size: 140px; color: $white; float: left;
       sup{font-size: 66px; top:-68px;}
      }
      h4{font-size: 24px; color: $white; padding: 95px 0 0 134px;}

  }
}
  .map{text-align: center; position:$rel;
    .find-location{position: $abs; right: 568px; bottom: 459px;  text-align: left;
    h3{background: url(../img/popup-img.png)no-repeat; color: $white; background-size: 100%; width:409px; height:158px; font-size:$font36; color:$white; line-height: 94px; text-align: center;}
    }    
  }
  .left-border{position: $abs; left:$zro; bottom:130px; content: ''; width: 28px; height: 766px; background:$primary-color;   transform: skewY(20deg); z-index: 2; }
}

/*product page*/
.products-banner{background: url(../img/product-banner.jpg)no-repeat; min-height: 424px;}
.detail-pro-banner{background: url(../img/detail-banner.jpg)no-repeat; min-height: 424px;}

.products-content{ position: $rel;
  .container-fluid{padding: 0 80px;}
  p{
    text-align: $align-center; font-size: $font18; color: #a4a4a4; max-width: 770px; text-align: $align-center; margin: 0 auto;  margin-top: $font40; margin-bottom: $font40;
    span{ font-weight: 700; }
  }
    .right-border{position: $abs; right: $zro; bottom: -111px; content: ''; width: 28px; height: 766px; background: $primary-color;
    -webkit-transform: skewY(20deg);
    -ms-transform: skewY(20deg);
    transform: skewY(20deg);
    z-index: 2;
  }
}

.products-tablist{
  padding: 54px 0 70px; 
  .nav{
    display: $blk;
    &.nav-tabs { border: $none;
      &:before{position: $abs; content: ''; background: $primary-color;  top: $zro; bottom: $zro; right: -60px; width: 3px;}
      .nav-item{ display: $blk;
       margin-bottom: $font22; position: $rel;
      .nav-link{border:$none; font-size: 34px; color: $secondary-color; background: #d2d2d2; @include border-radius(0); padding: 12px 12px 12px 40px;
        &.active{ color: $white;  background: $secondary-color;
          &:before{opacity: 1; visibility: visible;}
        }
        &:before{position: $abs; content: ""; background: url(../img/l-arrow.jpg)no-repeat; top: $font20; right: -75px; width:33px; height: 33px; opacity: 0; visibility: hidden;}
      }
      &:last-child{margin-bottom: $zro;}
    }
    }
  }
  .tab-content{
    padding-left: 100px;
    p{text-align: $align-left; margin: $font16 0 26px;}
    .mfg-list{
        li{ padding-bottom: 10px; 
          a{ font-size: $font30; color: $secondary-color; font-family: 'ArialMT'; font-weight:700; text-decoration: $none; @include transition(.2s);
          &:hover{color:$primary-color; }
        }
      }
    }
  }

}

  .modal#exampleModalCenter{ /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003e51+0,ffffff+100 */
    background: rgb(0,62,81); /* Old browsers */
    background: -moz-linear-gradient(45deg, rgba(0,62,81,0.6) 0%, rgba(37,37,37,0.9) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, rgba(0,62,81,0.6) 0%,rgba(37,37,37,0.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, rgba(0,62,81,0.6) 0%,rgba(37,37,37,0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003e51', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 .modal-content{width: 100%; max-width: 1076px; min-width: 1076px; margin-left: -268px; background: #fff url(../img/modal-bg.png)no-repeat right 44px bottom; background-size: 39%; padding: 0 92px 70px;
  input.form-control{background: #d6d7d9; font-size: 12px; font-family: 'arial'; text-transform: uppercase; border-radius: 0!important; height: 53px;
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #373737; padding-left: 16px;
}
&::-moz-placeholder { /* Firefox 19+ */
  color: #373737; padding-left: 16px;
}
&:-ms-input-placeholder { /* IE 10+ */
  color: #373737; padding-left: 16px;
}
&:-moz-placeholder { /* Firefox 18- */
  color: #373737; padding-left: 16px;
}

}
textarea.form-control{
  padding: 16px 0 0 26px; font-size: 12px; height: 95px; background: #d6d7d9; border-radius: 0; font-family: "arial"; color: #373737; text-transform: uppercase;
   &::-webkit-input-placeholder {color: #373737;}
   &:-ms-input-placeholder {color: #373737;}
}
  h1{color: $secondary-color; font-size: 54px; text-align: center; margin: 56px 0 6px;}
  p{color: $black;  text-align: center;}
  .modal-btn{text-align: center;}
  .btn-primary{color: $white; font-size: 32px; margin:0 auto; padding: 4px 66px; margin-top: 10px;
    span{transform: skewX(10deg); display: $lnbl;}
  }
}
.close{ position: $abs; right: 11px; top: -3px; opacity: 1;
 span{ font-size: 46px; color: $secondary-color;}
 &:focus{outline:none;}
}

}
.modal.show{margin-right: -17px!important;}


/*Product Category*/
.product-wrapper{ position: $rel;
  .container-fluid{padding: 0 140px;}
  ol.breadcrumb{ background: $none!important; margin:26px 0 38px;
    .breadcrumb-item{
      &:before{color:$primary-color; }
      a{
      font-size: 15px; color: #373737; text-decoration: $none; font-family: "Arial"; text-transform: $up-case;
    }
    &.active{color: $secondary-color; font-weight: 700; font-family: "Arial"; text-transform: $up-case;}
    }
  }
  .product-categories{border:1px solid #d6d7d9; padding: 32px 20px 28px;
    input{width: 100%; background: #d6d7d9; font-size: 16px; color: #373737; min-height: 56px; border:$none; padding-left: 28px; text-transform: $up-case; font-family: "Arial";}
    h2{font-size: 32px; text-align: left; margin-top: 0; padding-top: 26px;
      &:before{margin:0;}
    }
    .product-list{ padding-top: 20px;
      li{ display: $blk;
        a{font-size: $font24; color: $black; font-family: "Arial"; text-decoration: $none; display: $blk;
        &.active{color:$secondary-color; font-weight: 700; font-family: "Arial";}
        &:hover{color:$secondary-color; font-family: "Arial";}
      }
      }
    }
  }
  .mfg-seal{ padding: 0 80px;
    h3{font-size: 48px; color: $secondary-color; margin-bottom: 10px;}
    p{font-size: $font18; margin-bottom: 40px;}
    .btn-primary{
      span{transform: skewX(15deg); padding-bottom: 0;}
    }
  }
  .nav{ max-width: 396px; 
    .nav-item{
      .nav-link{
        font-size: 16px; color: #373737; font-family: "Arial"; text-transform: $up-case; background: #d6d7d9; margin-right: 4px; border-radius: 0;
        &.active{background: $none;}
      }
    }
  }
  .tab-content{ border:1px solid #d6d7d9; border-top: $none; max-width: 396px;
    .tab-pane{ padding: 46px 0 60px 26px;
    h3{font-size: 17px; color: $black; font-family: "Arial";}
    .kits-size{font-size: 17px; color: $black; padding-top: 8px; font-family: "Arial";}
  }
  }
  .quote-form{
    border:1px solid #d6d7d9; padding: 32px 52px 42px; margin-bottom: 50px;
    h3{font-size: 48px; color: $secondary-color; text-align: $align-center; margin-bottom: 14px;}
    p{font-size: 17px; margin-bottom: 30px;}
    .form-control{font-size: $font18; color: #373737; font-family: "Arial"; background: #d2d2d2; border-radius: 0; height: 56px; padding: 0 32px;    
  }
  .submit{text-align: $align-center; margin-top: 30px;
    .btn-primary{padding: 2px 76px 4px;}
  }
  }
  .right-border{position: $abs; right: $zro; bottom: -111px; content: ''; width: 28px; height: 766px;
    background: $secondary-color;
    -webkit-transform: skewY(20deg);
    -ms-transform: skewY(20deg);
    transform: skewY(20deg);
    z-index: 2;}
}
    .find-product{ margin-left: 110px;
      background: url(../img/find-bg.png)no-repeat; min-height: 250px; text-align: $align-center; padding-top: 50px;
      h4{font-size: 58px; color: $white; margin-bottom: 20px;}
      .btn-primary{background: $secondary-color; padding: 0 46px 2px;
        &:hover{background: $white!important; color: $secondary-color!important;}
      }
    }

    .product-img{position: $rel;
      a{position: $abs; top: $zro; right: 100px;
      }
    }
    .single-find{margin-top: 60px;}