


@charset "utf-8";
/* CSS Document */



.footer{ background: $secondary-color; padding: 90px 0;
  .container-fluid{padding: 0 82px;}

  	.get-quote{
  	 p{color:$white; font-size: $font17; line-height:23px; max-width: 476px;}
     a.btn-primary{margin-right: 9px; line-height: 67px;
       &:hover, &:active, &:focus{background: $white !important; color:$primary-color !important;}
    }
  	
  }
  ul.footer-menu{
  	 a{text-decoration: none; color:$white; font-size:$font28;  @include transition(.2s);
  	 	&:hover{color:$primary-color;}
  	}
  }
  	.contact-info{
  		li{position: $rel; padding: 0px 0 13px 50px; 
  			a{text-decoration: none; color:$white; font-size: $font17; font-family: 'Arial'; @include transition(.2s);
        &:hover{color:#f2692c;}
      }
  			p{font-size: $font17; color: $white; max-width: 275px;}
  	    &:before{position: absolute; left:$zro; top:$zro; content:''; width: 37px; height: 37px;}
        &.address:before{ background: url(../img/folder.png)no-repeat;}
        &.phone:before{ background: url(../img/phone.png)no-repeat; top: -6px;}
  	    &.mail:before{background: url(../img/mail.png)no-repeat; top: -5px;}

  		}
  	}
}
/*copyright*/
  .copyright{ background:#d2d2d2; padding: 32px 0;
    .container-fluid{padding: 0 82px;}
  p{font-size: $font17; color:#222; font-weight: 400; padding-top: 8px;} 
  a{text-decoration: $none; color:$primary-color; font-weight: 700; @include transition(.2s);
    &:hover{color:$secondary-color; }
  }
  .social-icon{ text-align: $align-right;
    li{display: $lnbl;  padding: 0 6px;
     a{height:$font36; width: $font36; line-height: 39px; color:#d2d2d2; font-size:$font22; background: $primary-color; display: $lnbl; text-align: $align-center; border-radius: 5px; @include transition(.2s); }
     &:first-child{
      a{
        &:hover{background:#3b5998; }
      }
     }
      &:nth-child(2){
      a{
        &:hover{background:#2797cf; }
      }
     }
     &:last-child{
      a{
        &:hover{background:#55acee; }
      }
     }
    }
  }
  }

