
@charset "utf-8";
/* CSS Document */



// Header


.header{position: fixed; top: $zro; left: $zro; right: $zro; background: transparent; z-index: 999;
	.navbar{padding-top: $font40; padding-left: $font36;
	    .nav-link{font-size: $font28; color: $white; padding: 0px 20px; background: transparent;transform: skewX(-10deg);
	    	&.active{background: $primary-color; transform: skewX(-10deg);}
		&:hover{background: $primary-color; transform: skewX(-10deg);}
		span{transform: skewX(10deg); display: $lnbl;}
	}
}
	ul.side-menu{ margin-top: -10px; text-align: $align-right;
	 li{display: $lnbl; padding: 0 10px;
	 	&.dropleft{ top: 65px; color: $white; 
	 		a{background: none!important; border:none!important;  -moz-transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
	 		&:hover{background: none!important;}
	 		&:before{display:$none;}
	 		}
	 		  .dropdown-menu{padding: 10px; border: $none; right: -60px; width: 250px; background:$primary-color; margin-top: 56px; transform: translate3d(-183px, 0px, 0px)!important; -webkit-transform:translate3d(-183px, 0px, 0px);
				  form{min-height: 20px;}
				  .input-group{background:$white; border-radius: 5px; height: 40px;
				  .form-control{background: $none; border:$none; font-family: 'BebasNeueBold';
				  	&::-webkit-input-placeholder{font-size:$font16;  color: $base-color; font-family: 'BebasNeueBold';}
				  }
				  .btn-search{border-radius: 0 5px 5px 0; padding: 0px 20px; background: $secondary-color;
			     	svg{color:$white;}
				   }
				   }
				  }
	 	    }
		a{font-size: $font24; background: $primary-color; color: $white; position: $rel; text-align: $align-center; padding: 17px 48px 0; border-radius: $zro; -webkit-transition: all .2s ease; transform: skewX(0deg);
		   -moz-transition: all .2s ease;
		    -ms-transition: all .2s ease;
		     -o-transition: all .2s ease;
		        transition: all .2s ease;
		        span{transform: skewX(0deg);}
			&:hover{background: $secondary-color!important; color: $white!important;
				&:before{background:$secondary-color; }
			}
			&:active,&:focus{
				&:before{background:$secondary-color; }
			}

			&:before{position:$abs; content: ""; top: 20px; left: -3px; right: -3px; height: 48px; background: $primary-color; -webkit-clip-path: polygon(50% 100%, 0 70%, 100% 71%); clip-path: polygon(50% 100%, 0 70%, 100% 71%); @include transition(.2s);}
		   }
	    }
	

	 }
}


.fixtab  {
	.header{ position: fixed!important; left: $zro; right: $zro; top: $zro; height:100px; z-index: 4; margin-top: $zro; background: $secondary-color;
 ul.side-menu{
 	a{ 
   &:hover{background:$white !important; color: $primary-color !important;
    &:before{background: $white;}
 	}
 	&:focus, &:active{background:$white !important; color:  $primary-color !important;
       &:before{background: $white;}
 	}

 }
 .dropleft{
 	top: 30px; @include transition(.2s);
 	a{background:transparent!important;}
 }
 }
 .navbar{padding-top: $font20; @include transition(.2s);}
}
}