
// Responsive Css

@media (max-width: 1680px){
.header {
	ul{
		&.side-menu {
			li.dropleft{right: 19px;}
		}
	}
}

/*blog-page*/
	.blog-box {
		.card{
		.card-body{
			.card-title{font-size: 32px;}
		}
	}
	}
	/*about page*/
	.facility-wrapper {
	.facility-listing{padding: 23px 0 23px 254px;}
	.map {
		.find-location{right: 457px;}
	}
	}
	.product-img {
		a{right: 44px;}
	}
}

@media (max-width: 1600px){
.header {
	ul{
		&.side-menu {
			li.dropleft{right: -7px;}
		}
	}
}

/*blog-page*/
	.blog-box{
		.card{
			.card-body{
				.card-title{font-size: $font28; line-height: 34px;}
			}
		}

		}   
	

			/*.aboutus-content*/
		.aboutus-content{
			.orange-seal {background-position: right 94px bottom -200px; }
			} 

	.facility-wrapper{
		 .facility-listing {
		 	&:before{height:196px;}
		 li{
		   .number{font-size: 100px;
             sup{font-size: 40px; top:-56px;}   
		   }
		 	h4{font-size: 22px; padding: 66px 0  0 91px;}
		  }	
		 }
		 .map {
		 	.find-location{right: 416px;}
		 }
		} 
}

@media (max-width: 1440px){

/*Single product page*/
.product-wrapper{
	.mfg-seal{
		padding:0 30px;
	}
	.product-categories{margin-right: 0px;}
}

.facility-wrapper {
	.map {
		.find-location{right: 338px;}
	}
}
.product-img {
	.image-box{
		img{width: 92%;}
	}
}
.product-wrapper {
	.nav.single-product {
		.nav-item .nav-link{ font-size: $font14; padding: 0.5rem;}
	}
}
.blog-box {
	.card .card-body {
		ul li{padding: 0 12px 0 36px;}
	}
}
}

@media (max-width: 1366px){
	.header {
		.navbar{padding-left: 20px;
			.nav-link{padding: 0 18px;}
		}
	}
	.banner {
		min-height: 1000px;
		.banner-content{padding-top: 30%;
			img{width: 43%;}
			h1{font-size: 42px; margin: 23px 0 28px;}
			.btn-primary
			{font-size: 38px; padding: 2px 54px 5px;}
		}
	}
	.top-title {
		h2{font-size: 56px; max-width: 316px;}
	}
	.products-tablist {
		.nav.nav-tabs {
			.nav-item .nav-link{padding: 12px 12px 12px 30px; font-size: $font30;}
		}
		.tab-content {
			.mfg-list {
				li{font-size: $font24;}
			}
		}
	}
	#exampleModalCenter {
		.modal-content {
			h1{font-size: 44px;}
		}
	}

	/*blog -page*/
		.blog-box{
			h2{
				&:before{width: 85px;}
			}
		.card{
			.card-body{ padding: 30px 12px;
				/*.card-title{font-size: 30px;}*/
				.card-text{font-size: 18px; margin: 14px 0px 24px;}
			}
		.card-footer{padding: 6px 0px 8px; font-size: $font30;}
		}
	}
	/*about*/

		.about {
	  .about-content {
	  	.btn-primary{font-size: 38px; padding: 0px 46px 0px;
			
	}


		/*Single product page*/
	  }
	  	}

	  	.products .find-products {
		.btn-primary{font-size: 38px; padding: 0px 64px 0px;}
	}
	.copyright{
		p{font-size: $font16;}
	}
	.footer .get-quote {
		a.btn-primary{font-size: 38px; padding: 2px 46px 3px;}
	}
.product-wrapper{
	.product-categories{
		h2{font-size: 28px;}
		input{min-height: 50px;}
	}
	.quote-form{
		.form-control{height: 50px;}
		.submit{
			.btn-primary{padding: 0 40px; font-size: 38px;}
		}
	}
	}
	.find-product {
		.btn-primary{font-size: 38px; padding: 0 46px;}
	} 
/*about page*/
	.aboutus-content{
		.orange-seal{  background-size: 42%; background-position: right 50px  bottom -198px;  
			.orange-content{padding: 100px 0px 100px 126px; }
			} 
		}
		.facility-wrapper{
		 .facility-listing { padding: 23px 0 23px 179px;
		 }
		 	.map {
				.find-location  {right:300px;}
			}
		}
		.find-product {
			h4{font-size: 46px;}
		}
		.product-wrapper {
			.quote-form{padding: 32px 30px 42px;}
			.mfg-seal {
				h3{font-size: 38px;}
				p{font-size: $font16;}
				.btn-primary {font-size: 38px; padding: 0 46px 1px;}
			}
			.quote-form {
				h3{font-size: 38px;}
			}
		}
		.product-img {
			.image-box img{width: 85%;}
		}
		.orange-seal-wrapper {
			.map{
				.find-location {
					h3{font-size: 42px; background-size: 80%;
					background-position: 40% 37%;}
			}
		}
		}
}

@media (max-width: 1280px){
	.header {
		.navbar {
			.nav-link{padding: 0 14px;}
		}
	}

	/*blog -page*/
		.blog-box{
		.card{
			.card-body{
				.card-title{font-size: 26px;}
				.card-text{font-size: $font16; max-width: 200px;}
				.card-footer{font-size: 26px;}
				ul{
					li{padding-left: 30px;}
				}
			}
		}
	}
	.copyright {
		p{font-size: 15px;}
	}
/*Single product page*/
.product-wrapper{	
	.quote-form{
		padding: 32px 24px;
	}
	} 

/*about page*/
		.aboutus-content {
		.orange-seal{
			 .orange-content{padding:30px 0px 24px 126px;}
		 }
		}

		.facility-wrapper{
			 .facility-listing{ padding-left:106px; 
			 	&:before{width: 120px;}
			 }
			 .map {
			 	.find-location{right: 257px;}
			 }
			}
			.product-wrapper {
				.container-fluid{ padding: 0 60px; }
				.product-categories {
					.product-list li a{font-size: $font22;}
				}
				.mfg-seal{padding: $zro;}
			}
}

@media (max-width: 1199px){
	
	.header {
		.navbar-brand{margin-right: 10px;}
		ul.side-menu {
			li a{ padding: 17px 30px 0;
			}
		}
		.navbar {
			.nav-link{font-size: 26px; padding: 0 6px;}
		}
	}
	.banner{min-height: 1025px;
		.banner-content{padding-top: 30%;}
	}
	.orange-seal-wrapper {
		.orange-seal-title{max-width: 960px;
			&:before{left: 29px;}
			&:after{right: $zro;}
		}
		.map .find-location {
			h3{font-size: 40px; background-position: 47% 39%;}
		}
	}
	.about{
		padding: 96px 0 110px; 
	}
	.products{
		padding: 96px 0;
		background-size: 18%;
		.item h3{font-size: 26px;}
		.find-products {
			.btn-primary{padding: 2px 40px 4px;}
		}
	}
	.news {
		.item {
			.hover-content {
				h3{font-size: $font24;}
				p{font-size: $base-font-size; margin-bottom: $zro;}
			}
		}
	}
	
	.modal#exampleModalCenter {
		.modal-content{max-width: 800px; min-width: 800px; margin-left: -400px; left: 50%; padding: 0 60px 70px; background-size: 52%;
			h1{font-size: 44px;}
		}
	}
	/*product-page*/
	.top-title {
		h2{font-size: 46px; max-width: 220px; margin: -66px auto 0; padding-top: $font20;
			&:before{width: 72px;}
		}
	}

	/*blog -page*/

	.blog-box{
		.card{
			.card-body{
				.card-title{font-size: 18px; line-height: 24px;}
				.card-text{font-size: $font14; margin: 12px 0 16px;}
				ul{
					li{ padding: 4px 8px 0px 20px;
						a{font-size: 15px;}
						&:first-child, &:last-child{ 
						a:before{background-size: 60%; background-position: 0% 68%;}
						 }
					}
				}
			}
			.card-footer{font-size: $font24;}
		}
	}

.product-wrapper{	
	.quote-form{
		padding: 32px 24px;		
	}
	.product-categories{padding: 20px 16px;
			h2{font-size: 24px;}
			.product-list{
				li{
					a{font-size: 18px;}
				}
			}
		}
	}

		.facility-wrapper{
			 .facility-listing{ padding-left:106px; 
			 	&:before{width: 120px; height: 121px;}
			 	li{
			 	.number{font-size: 50px;
                 sup{font-size: 30px; top:-29px;}
			 	}
			 	h4{padding: 27px 0 0 52px; font-size: 18px;}
			 	}
			 }
			 .map {
			 	.find-location{bottom: 400px; right: 138px;}
			 }
			}

			.aboutus-content{
				.orange-seal{background-size: 30%; background-position: right 100px  bottom -96px; position: $rel;
					&:before{position: $abs; content: ""; background: rgba(255, 255, 255, .7); top: $zro; left: $zro; right: $zro; bottom: $zro; }

                 .orange-content{padding: 50px 30px;}
				  }
				  .right-border{height: 512px; bottom: -64px;}
				} 
			 .find-product{min-height: 236px;}

.product-img {
	a{right: 4px;}
}

.product-wrapper .nav.single-product {
	.nav-item .nav-link{font-size: 12px;}
	}
}

@media (max-width: 990px){
	.btn-primary{font-size: $font30!important;}
	p{font-size: 16px;}
	h2{font-size: $font30; padding-bottom: 11px;
		&:before{height: 6px;}
	}
	.header {
		.navbar{padding-top: $zro; padding-left: 34px;
			.navbar-toggler{
			.navbar-toggler-icon{color: $white;
			}
				&:focus{outline:none;}
		}
		.navbar-nav{background: $secondary-color; padding: 20px;}
		}
		ul.side-menu { z-index: 99; margin-bottom: 4px; text-align: inherit; padding-left: 24px;
			li{
				 a{padding: 10px 28px 0 28px;
				&:before{display:none;}
			}
			&.dropleft{top: 11px; float: $align-right;
				.dropdown-menu{margin-top: 38px;}
				a{ padding: 0.25rem 1.75rem 0.25rem 0;
					img{width: 46%;}
				}
			}
			}
		}
		
	}
	.fixtab {
		.header{height: 115px;
			.navbar{padding-top: 0;}
			ul.side-menu {
				.dropleft{top: 11px;}
			}
		}
	}
	.blog-banner, .about-banner, .products-banner, .detail-pro-banner{min-height: 250px;}
	.top-title {
		h2{max-width: 182px;}
	}
	.orange-seal-wrapper {
		.orange-seal-title {
			padding: 30px 20px;margin: -134px auto 0;
			h1{font-size: 36px;}
			&:before, &:after{display: $none;}
			
		}
			.find-location{left:0 !important; bottom: 25%  !important; 
			img{padding: 13px 0 0 72px !important;}
          h3{width: 418px !important; height:107px !important; line-height: 79px !important; font-size: 30px !important;}
		}
		.right-border{height: 530px;}
		.right-border{height: 530px;}
	}
	.product-img {
		.image-box img{ width: 76%; }
		a{right: 44px;}
	}
	.banner {
		min-height: 786px;
		.banner-content{
			img{width: 64%;}
			 h1{font-size: 32px;}
			 .btn-primary{padding: 2px 28px 3px;}
		}
	}
	.products{
		padding: 40px 0;
		h2{margin-bottom: 30px;}
		.left-border{height: 530px;}
	.find-products {
		.btn-primary{line-height: 1.5; padding: 0px 30px 4px;}
	}

	}
	.find-product {
		.btn-primary{padding: 0 28px 2px;}
	}
	.footer {
		padding: 30px 0;
		.contact-info{margin-top: $font30;}
		.nfpa-logo {
			img{width: 60%;}
		}
	   .container-fluid{padding: 0 30px;}
       .get-quote{
         p{padding-bottom: 0 !important;}
         a.btn-primary{padding: 0px 28px 3px; line-height: 1.5;}
       } 
		ul.footer-menu{ padding-top: 20px;
           li{padding-left: 20px;
           a{font-size: 22px;}
           }
		 }
	}
	.products {
		.find-products{margin: 20px 0 30px;}
	}
	.copyright {
		padding: 16px 0;
		.container-fluid{padding: 0 30px;}
		p{text-align: $align-center;}
		.social-icon{text-align: $align-center; margin-top: 15px;}
	}
	.about {
		.about-content {
			  padding-left: 30px;
		    .btn-primary{padding: 0 28px 2px; line-height: 1.5;}
			h3{font-size: $font28;}
		}
	}
	.modal#exampleModalCenter {
		.modal-content{ max-width: 700px; min-width: 700px; margin-left: -358px;
			h1{font-size: 34px;}
			.btn-primary{font-size: $font24;}
		}
	}

	/*product page*/
	.products-tablist {
		padding-bottom: $font30;
		.nav.nav-tabs {overflow: hidden;
					&:before{display:$none; }
			.nav-item {
			.nav-link{
				font-size: 26px;
				&.active{
				&:before{display:$none; }
			}
			}
		}
		}
		.tab-content{padding-left: $zro;
			.mfg-list {
				li{font-size: $font20;}
			}
		}
	}

.blog-box {
	padding-bottom: 30px;
		.row.mt-42{ margin-top: 0px!important; }
		.row.mt-46{ margin-top: 30px!important; }
		.card{ max-width: 360px; text-align: $align-center; margin: 0 auto; margin-bottom: $font30;
			.card-body{text-align: $align-left;
		.card-text{max-width: 174px;}
	}
		}

}



 .product-wrapper{
 	.product-categories{
 		h2{margin: 0;}
 	}
 	.mfg-seal{
 		h3{margin-top: 20px;}
 		.btn-primary{padding: 0 28px 3px;}
 	}
 	.quote-form{margin-top: 40px;
 		.submit .btn-primary{padding: 0 24px 2px;}
 	}
 	ol.breadcrumb{margin: 26px 0 10px;}
 	}  

 	.aboutus-content{
			.orange-seal{background-size: 40%; background-position: center bottom -105px;
				.orange-content {padding: 30px 30px 20px;
					h3{font-size: $font30;}
					p{font-size: $font16;}
				}
			}

			} 
			.facility-wrapper {
				.map {
					.find-location {
						bottom: 274px;
    					right: 47px;
						h3{font-size: $font30; background-size: 78%; background-position: 44% 21%;}
					}
				}
					.left-border{height: 566px;}
			}

			.products-content {
				.container-fluid{padding: 0 44px;}
			}

			.find-product {
				min-height: 216px;
				h4{font-size: 34px;}

			}

			.product-img {
				.image-box { margin: 30px 0; }
			}
		

}

@media (max-width: 767px){
	
	.orange-seal-wrapper {
		.map {
			.find-location h3{width: 490px;}
		}
	}
	.banner{min-height: 700px;}
	.modal#exampleModalCenter {
		.modal-content {
			input.form-control{height: 46px;}
		}
	}
		.footer {
		ul.footer-menu{ padding-top: 20px;
           li{padding-left: 0px;}

		 }
		 .nfpa-logo {
		 	text-align: $align-left!important; margin-top: $font30;
           	img{width: 27%;}
           }
	}
	.facility-wrapper {
		.map .find-location{bottom: 260px;
    right: 32px;}

	}
	
}

@media (max-width: 668px){
	.modal#exampleModalCenter {
		.modal-content{ max-width: 540px; min-width: 540px; margin-left: -270px;
		}
	}
	.facility-wrapper {
		.facility-listing { padding: 0px 0 0px 106px;
			&:before{height: 155px;}
			li{width: 47%; }
		}
		.left-border{height: 422px;}
	}
}

@media (max-width: 568px){
	.modal#exampleModalCenter {
		.modal-content{ max-width: 97%; min-width: 97%; margin-left: 0; left: auto; 
		}
	}

	.footer {
		.nfpa-logo img{width: 35%;}
	}
}

@media (max-width: 480px){
	h1{font-size: 34px !important}

		.right-border{height:333px !important; width: 18px  !important;}
		.left-border{height:333px !important;width: 18px  !important; }
		.header {
			ul.side-menu {
				li{ padding: 0 6px;
					a{padding: 13px 10px 5px; font-size: $font22!important;
                   &:before{top:2px; height: 57px;}
					}
					&.dropleft{right:0;
						img{width: 50%;}
					.dropdown-menu {
						.input-group{height: 35px;}
					}
					}
				}
			  }
			  .navbar-brand{
			  	img{width: 75%;}
			  }
			}
			.fixtab .header {
				height: 99px;
				.navbar{padding-top: 0;}
			}
         .products {
         	.container-fluid{padding: 0 70px;}
         	}
	 .banner{ min-height: inherit;
	 	.banner-content{ padding: 150px 0 100px;
             h1{margin:10px  0;}
	 	  } 
	 	}
	.about{background-position: left 30% top 0; padding: 50px 0 58px;
		.about-content{padding-left: 15px;}

	}
	.orange-seal-wrapper {
		 .orange-seal-title {margin:0; max-width: inherit;}
      .find-location { bottom: 18% !important;
      	h3 {width: 300px !important ;  height:80px !important; font-size: $font24  !important; line-height: 62px !important; }
      	img{padding-left: 30px !important; width: 34%;}
      	}
	}

.products {
	.owl-nav {
		.owl-prev{left: -62px;}
		.owl-next{right: -62px;}
	}
}
.blog-box {
	.custom-container{padding: 56px 44px  0px;}
}
.top-title {
	h2{max-width: 160px; padding-top: 8px; margin: -47px auto 0; font-size: 36px;
		&:before{width: 57px;}
	}
}
.serach-row {
	.category ,.search{
		.form-control{font-size: 14px;}
	}
}

.facility-wrapper {
	.left-border{bottom: 80px;}
}
.find-product{margin-left: $zro;}
.product-wrapper {
	.container-fluid{padding: 0 44px;}
}
.product-wrapper {
	.mfg-seal h3{font-size: $font28;}
	.quote-form h3{font-size: $font28;}
}

}

@media (max-width: 420px){
	.facility-wrapper {
		.facility-listing{padding: 0 0 0 20px;
			&:before{ display:$none;  }
		}
		.map {
			.find-location{bottom: 60px; right: 0;
				 h3{background-size: 61%; font-size: $font24;}
			}
		}
	}
	.product-img {
		a{right: $zro; top: -10px;}
	}
	.aboutus-content {
		.orange-seal {
			.orange-content{padding: 30px 0 20px;}
		}
	}
	.blog-box {
		.custom-container{padding: 56px 15px 0px;}
		
	}
	.serach-row{padding: 0 30px;}
		.products-content, .product-wrapper  {
		.container-fluid{padding: 0 15px;}
	}
	.header {
		ul.side-menu{padding-left: $zro;
			li.dropleft{
				 a{padding-right: $zro;
				img{width: 80%;}
			}
				.dropdown-menu{left: -28px!important;}
			}
		}
		.navbar{padding-left: 10px; padding-right: 0;}
		
	}
	.product-wrapper {
		.quote-form {
			.form-control{padding: 0 12px; font-size: $font16;}
		}
	}
	.products-tablist{padding-top: $font30;}

}



@media (max-width: 380px){
		.header{
		.navbar{padding-left: 10px;
			.navbar-toggler{padding: .25rem 3px;}
		}
		 ul.side-menu { padding-left: 4px;
		 	li {
		 		padding: 0 4px;
		 		a {font-size: 17px!important;
		 			
		 		}
		 	}
		 }
	}
	.serach-row {
		.search {
			.form-control{ height: 44px; }
		}
			.category {
				.form-control{height: 44px!important;}
			}
	}
	.facility-wrapper {
	.left-border{bottom: 30px;}
}
.product-wrapper {
	.nav .nav-item {
		.nav-link{font-size: $font14;}
	}
}

}


@media (max-width: 360px){


	.blog-box {
		.custom-container{padding: 56px 26px 0px;}
	}
	.serach-row {
		.category {
			select{background-position-x: 98%;}
		}
	}
	.facility-wrapper {
		.facility-listing {
			li{width: 100%;}
		}	
	.left-border{height: 288px!important;}
	.map {
		.find-location h3{background-size: 44%; font-size: $font18; background-position: 49% 25%;}
	}

	}

	.find-product {
		background-position: 20%;
	}
	.blog-box {
		.serach-row{padding: 0 7px;}
	}

}


