
// Slider

.banner{
  background: url(../img/banner.jpg)no-repeat; min-height: 1199px; background-size: cover;
  .banner-content{margin: 0 auto; padding-top: 40%; text-align: $align-center; 
    h1{color: $white; font-size: $font48; text-transform: $up-case; margin: 34px 0 36px;}
    .btn-primary{font-size: $font48; padding: 0px 54px 5px; transform: skewX(-10deg); background:$primary-color; border-radius: 0; border:none!important; @include transition(.2); z-index: 9;
      span{transform: skewX(10deg);}

    }
  }
  
}
