
@font-face {
  font-family: 'BebasNeueBold';
  src: url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeueBold.woff') format('woff'), url('../fonts/BebasNeueBold.ttf')  format('truetype'), url('../fonts/BebasNeueBold.svg#BebasNeueBold') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/ArialMT.eot?#iefix') format('embedded-opentype'),  url('../fonts/ArialMT.woff') format('woff'), url('../fonts/ArialMT.ttf')  format('truetype'), url('../fonts/ArialMT.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}


body{ margin: $zro; padding: $zro; font-family: 'BebasNeueBold'; font-size: $base-font-size; color: $base-color;}

  h1, h2, h3, h4, h5, h6{color: $black; font-family: 'BebasNeueBold'; margin: $zro; padding: $zro;}
  h1{font-size:$font48; color: $white;}
  h2{font-size: 35px;}
  h3{font-size: 27px;}
  p{font-size: 16px; color: #000;  font-family: 'Arial';}
  ul{margin: $zro; padding: $zro; list-style: $none;}
  a{text-decoration: $none;}
