{layout="layouts/_default"}

{exp:channel:entries channel="products" limit="1" disable="member_data|pagination"}
	<div class="detail-pro-banner"></div>

    <div class="product-wrapper top-title">
	    <div class="container-fluid">
	        <h2>Products</h2>
		    <nav aria-label="breadcrumb">
		       <ol class="breadcrumb">
		          <li class="breadcrumb-item"><a href="{path='products'}">Products</a></li>
		          {categories limit='1'}
		          <li class="breadcrumb-item"><a href="/products#{category_url_title}">{category_name}</a></li>
		          {/categories}
		          <li class="breadcrumb-item active" aria-current="page">{title}</li>
		       </ol>
		    </nav>
	        <div class="row">
		        <!--<div class="col-lg-3">
		          <div class="product-categories">
		          	{exp:search:simple_form channel="products" result_page="products/results"}
		            <input type="text" name="keywords" id="keywords" placeholder="search">
		            {/exp:search:simple_form}
		              <h2>product categories</h2>
		                <ul class="product-list">
			              	{exp:channel:categories category_group="1" show_empty="no" disable="category_fields"}
			                <li><a href="/products#{category_url_title}"{if active} class="active"{/if}>{category_name}</a></li>
			                {/exp:channel:categories} 
		                </ul>              
		          </div>
		        </div>-->
		        <div class="col-lg-9">
		          <div class="mfg-seal">
		            <h3>{title}</h3>
		            {product_brief}
		            <!--<ul class="nav nav-tabs" id="myTab" role="tablist">
		                <li class="nav-item">
		                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">description</a>
		                </li>
		                <li class="nav-item">
		                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">reviews (0)</a>
		                </li>
		              </ul>
		              <div class="tab-content" id="myTabContent">
		                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
		                  {product_description}
		                </div>
		                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
		             </div>-->
		          </div>
		        </div>
		        <div class="col-lg-3">
		        	{exp:channel:form channel="form_get_a_quote" dynamic_title="[first_name] [last_name]" return="/"  class="quote-form" id="get-a-form"}
		            
		                <h3>get a quote</h3>
		                <p>Interested in this part? Fill out this form to get a quote.</p>
		                
		                <div class="form-group">
		                  <input type="text" class="form-control" name="first_name" placeholder="First Name*">
		                </div>
		                <div class="form-group">
		                  <input type="text" class="form-control" name="last_name" placeholder="Last Name*">
		                </div>
		                <div class="form-group">
		                  <input type="email" class="form-control" name="email_address" placeholder="Email*">
		                </div>
		                 <div class="form-group">
		                  <input type="text" class="form-control" name="company_name" placeholder="Company Name*">
		                </div>
		                 <div class="form-group">
		                  <input type="text" class="form-control" name="phone_number" placeholder="Phone Number">
		                </div>
		                <div class="form-group">
		                  <input type="text" class="form-control" name="job_title" placeholder="Job Title">
		                </div>
		                 <div class="submit"><button type="Submit" class="btn btn-primary"><span>Submit</span></button></div>
		                {/exp:channel:form}
		            
		        </div>
		    </div>
	    </div>
        <div class="right-border"></div>
    </div>

<!-- can’t find a product?  -->
<div class="find-product">
  <div class="container">
    <h4>Can’t Find a Product? </h4>
    <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenters"><span>Get Support</span></a>
  </div>
</div>
{/exp:channel:entries}