{layout="layouts/_default"}

{exp:channel:entries channel="general_pages" limit="1" disable="categories|category_fields|member_data|pagination"}
	<div class="products-banner" style="background: url({page_banner});"></div>

    <div class="products-content top-title">
    	<div class="container-fluid">
        	<h2>{title}</h2>
        	{main_content}
          {exp:search:simple_form channel="products" result_page="products/results" no_result_page="search/noresults"}
          	<div class="row serach-row">
                <div class="col-lg-3">
                  	<div class="input-group mb-3 category">
                   		<select name="cat_id[]" class="form-control form-control-lg">
                   			<option value="">Select</option>
                   			{exp:channel:categories category_group="1" show_empty="no" disable="category_fields"}
                   			    <option value="{category_id}">{category_name}</option>
                      		{/exp:channel:categories}
                    	</select>
                  	</div>
                </div>
                <div class="col-lg-9">
                  	<div class="input-group mb-3 search">
                    	<div class="input-group-prepend">
                      		<span class="input-group-text" id="basic-addon1"></span>
                    	</div>
                      <input type="text" name="keywords" id="keywords" class="form-control" placeholder="SEARCH PRODUCTS" aria-label="SEARCH PRODUCTS" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            {/exp:search:simple_form}

     		<div class="products-tablist" id="scrollTo">
     			{embed='includes/_category_products'}
      	</div>
      	<div class="right-border"></div>
     	</div>
   	</div>
{/exp:channel:entries}