{layout="layouts/_default"}
	
	{exp:channel:entries channel="products" limit="1" disable="member_data|pagination"}
	<div class="detail-pro-banner" style="background: url({product_banner});"></div>
	{/exp:channel:entries}
		<div class="product-wrapper top-title">
    		<div class="container-fluid">
      			<h2>Result</h2>
      			
      			<div class="row" id="new-row">
			        <div class="col-lg-9">
			           <div class="mfg-seal p-0">
			           	{exp:search:search_results switch="resultRowOne|resultRowTwo"}
			            <h3><a href="{page_url}">{title}</a></h3>
			            {product_brief}
				        {/exp:search:search_results}
				       </div>         
			        </div>
			        <div class="col-lg-3">
			            <div class="product-categories">
			            {exp:search:simple_form channel="products" result_page="products/results"}
			            <input type="text" name="keywords" id="keywords" placeholder="search">

			            {/exp:search:simple_form}
			              	<h2 class="m-0">product categories</h2>
			              	<ul class="product-list">
			                  {exp:channel:categories category_group="1" show_empty="no" disable="category_fields"}
			                   <li><a href="/products#{category_url_title}">{category_name}</a></li>
			                  {/exp:channel:categories}
			                </ul>              
			            </div>
			        </div>
     			</div>  
     		</div>
     	</div>


	

