.banner .banner-content .btn-primary{
	padding-bottom: 2px;
}
.products-content{
    padding-bottom: 18px;
}
#new-row{
	margin-top: 36px;
    margin-bottom: 50px;
}
.modal#exampleModalCenters{
	background: linear-gradient(45deg, rgba(0, 62, 81, 0.6) 0%, rgba(37, 37, 37, 0.9) 100%);
}
.modal#exampleModalCenters .modal-content h1{
	color: #003e51;
    
    text-align: center;
    margin: 56px 0 6px;
}
/*.modal#exampleModalCenters .modal-content p{
    color: #000;
    text-align: center;
}*/
.modal#exampleModalCenters .close span{
	font-size: 46px;
    color: #003e51;
}

.modal#exampleModalCenters .close{
	   position: absolute;
    right: 11px;
    top: -3px;
    opacity: 1;
}
.modal#exampleModalCenters .modal-content {
   width: 100%;
   max-width: 1076px;
   min-width: 1076px;
   margin-left: -268px;
   background: #fff url(../img/modal-bg.png) no-repeat right 44px bottom;
   background-size: 39%;
   padding: 0 92px 70px;
}
.modal#exampleModalCenters .modal-content input.form-control {
   background: #d6d7d9;
   font-size: 12px;
   font-family: 'arial';
   text-transform: uppercase;
   border-radius: 0 !important;
   height: 53px;
}
.modal#exampleModalCenters .modal-content textarea.form-control {
   padding: 16px 0 0 26px;
   font-size: 12px;
   height: 95px;
   background: #d6d7d9;
   border-radius: 0;
   font-family: "arial";
   color: #373737;
   text-transform: uppercase;
}
.modal#exampleModalCenters .modal-content .btn-primary {
   color: #fff;
   font-size: 32px;
   margin: 0 auto;
   padding: 4px 66px;
   margin-top: 10px;
}
.modal#exampleModalCenters .modal-content input.form-control {
    background: #d6d7d9;
    font-size: 12px;
    font-family: 'arial';
    text-transform: uppercase;
    border-radius: 0 !important;
    height: 53px;
}
.product-wrapper .mfg-seal h3 a {
	color: #003e51;
   font-size: 30px;
}

.page-content h1.top-title {
    background: #fff;
    color: #003e51;
    padding-top: 36px;
    margin: -88px auto 0;
    position: relative;
    text-align: center;
    max-width: fit-content;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.page-content h1.top-title:before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 119px;
    height: 8px;
    background: #f2682b;
    content: '';
    margin: 0 auto;
}

.page-content h2:before {
  display: none;
  text-transform: none;
}
.page-content .main_content {
  text-align: center;
  margin-top: 50px;
}
.page-content .main_content h2 {
  margin-bottom: unset;
  padding-bottom: unset;
}

.page-content div.page-section {
  margin-top: 25px;
  margin-bottom: 25px;
}

.container-fluid.single-blog {
  padding: 0 5%;
}
.comment-tabs .nav-tabs{
  border:0;
}
.comment-section .tab-content{
  margin-bottom: 50px;
  margin-top: 20px;
}
.comment-section .tab-content-comment{
  min-height: 20px;
  padding: 24px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  position: relative;
}
.comment-section .tab-content-comment h4{
  color: #555;
}
.comment-section .tab-content-comment p{
  margin-top: 10px;
  color: #333;
}
.media-date{
  position: absolute;
  right: 25px;
  top: 25px;
}
.form-group label{
  font-size: 16px;
  padding-top: 7px;
  margin-bottom: 0;
  text-align: right;
  color: #333;
}
.border-tab{
  border: solid 1px #dee2e6;
  padding-right: 50px;
  padding-top: 20px;
  margin-top: 0;
}
.comment-tabs-page .nav-tabs .nav-link.active{
  border-bottom-color: transparent;
}

@media (max-width: 1366px)
  .page-content h1.top-title {
    font-size: 56px;
    max-width: 316px;
  }
}