{layout="layouts/_default"}

{exp:channel:entries channel="general_pages" limit="1" disable="categories|category_fields|member_data|pagination"}
	<div class="about-banner" style="background: url({page_banner});"></div>

	<div class="products-content top-title">
	  	<div class="container-fluid">
	    	<h2>{title}</h2> 
	    	{main_content}
	    	<div class="row">
	    		<div class="offset-lg-2 col-lg-4 offset-md-2 col-md-4">
	    			<h3>Thank you for your interest!</h3>
                    <p>One of our representatives will get in touch with you shortly. While you wait, why not explore our website and get to know us?</p>
	    		</div>
	    		<div class="col-lg-4 col-md-4">
	    			<div class="product-categories">
						<ul class="contact-info">
							<li class="address"><p class="mb-0 text-left"><b>ADDRESS:</b> 7345 W. Sand Lake Road Unit 406 Orlando FL, 32819</p></li>
                            <li class="phone"><p class="mb-0 text-left"><b>PHONE:</b> <a href="tel:+1-407-640-6020">407-640-6020</a></p></li>
                            <li class="mail"><p class="mb-0 text-left"><b>EMAIL:</b> <a href="mailto:operations@orangeseal.us">admin@orangeseal.us</a></p></li>
                            <li class="mail"><p class="mb-0 text-left"><div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=7345%20W.%20Sand%20Lake%20Road%20Unit%20406%20Orlando%20FL%2C%2032819&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div></li>
						</ul>
	    			</div>
	    		</div>	    		
	    	</div>
		</div>
	</div>
{/exp:channel:entries}