{layout="layouts/_default"}
	
	{exp:channel:entries channel="blog" limit="1" disable="member_data|pagination"}
	<div class="blog-banner" style="background: url(http://clients.dreamfactoryagency.com/orangeseal/images/uploads/blog-banner.jpg);background-position: center;"></div>
	
	<div class="top-title">
		<div class="container-fluid single-blog">
  			<h2>{title}</h2>
  			<div class="row" id="new-row">
		        <div class="col-lg-12">
		           <div class="mfg-seal p-0">
		           	<!--<h3><a href="{page_url}">{title}</a></h3>-->
		            {main_content}
			        
			       </div>         
		        </div>
		    </div>

		    <div class="comment-section container">

		    	<h3 class="reviews">Leave your comment</h3>

			    <div class="row">

			    	<div class="col-sm-10 col-sm-offset-1">

				        <div class="comment-tabs comment-tabs-page">
				            <ul class="nav nav-tabs" role="tablist">
				                <li class="nav-item"><a class="nav-link active" href="#comments" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize" aria-controls="comments" aria-selected="true">Comments</h4></a></li>
				                <li><a class="nav-link" href="#add-comment" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize" aria-controls="add-comment" aria-selected="true"><h4 class="reviews text-capitalize">Add comment</h4></a>
				                </li>
				            </ul>
							<div class="tab-content">
								<div class="tab-pane tab-content-comment fade show active" id="comments" role="tabpanel" aria-labelledby="comments-tab">
									<ul class="media-list">
			                      		<li class="comment">
			                        		<div class="comment-body">
			                          			<div class="well well-lg">
			                              			<h4 class="media-heading text-uppercase reviews">Marco </h4>
			                              			<ul class="media-date text-uppercase reviews list-inline">
			                                			<li>22-09-2019</li>
			                              			</ul>
			                              			<p class="media-comment">Great snippet! Thanks for sharing.
			                              			</p>
			                          			</div>              
			                        		</div>
			                      		</li>          
			                    	</ul>
								</div>
							  	<div class="tab-pane border-tab fade" id="add-comment" role="tabpanel" aria-labelledby="profile-tab"> 
								  	<form>
								  		<div class="form-group row">
										    <label for="colFormLabel" class="col-sm-2 col-form-label">Name</label>
										    <div class="col-sm-10">
										      <input type="text" class="form-control" id="colFormLabel" placeholder="name">
										    </div>
										 </div>
								  		<div class="form-group row">
										    <label for="colFormLabel" class="col-sm-2 col-form-label">Email</label>
										    <div class="col-sm-10">
										      <input type="email" class="form-control" id="colFormLabel" placeholder="Email">
										    </div>
										 </div>
				                		<div class="form-group row">
				                            <label for="email" class="col-sm-2 control-label">Comment</label>
				                            <div class="col-sm-10">
				                              <textarea class="form-control" name="addComment" id="addComment" rows="5">Comment</textarea>
				                            </div>
				                        </div>
								        <div class="form-group row">
				                            <div class="col-sm-2"> </div>
				                            <div class="col-sm-10">                      
				                                <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
				                            </div>
				                        </div>
				                	</form>
							  	</div>
							</div>
				        </div>
				    </div>
			    </div>
			</div>
		</div>
	</div>
	{/exp:channel:entries}