{layout="layouts/_default"}

{exp:channel:entries channel="general_pages" limit="1" disable="categories|category_fields|member_data|pagination"}
  <div class="blog-banner" style="background: url({page_banner});"></div>
{/exp:channel:entries}
     <section class="blog-box top-title">
         <h2>Blog</h2>
          <div class="custom-container">
            {exp:search:simple_form channel="blog" result_page="blog/results" no_result_page="search/noresults"}
              <div class="row serach-row">
                <div class="col-lg-3">
                  <div class="input-group mb-3 category">
                   <select name="cat_id[]" class="form-control form-control-lg">
                   		<option value="">Select</option>
                   		{exp:channel:categories category_group="2" show_empty="no"}
                      		<option value="{category_id}">{category_name}</option>
                      	{/exp:channel:categories}
                    </select>
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="input-group mb-3 search">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1"></span>
                    </div>
                    <input type="text" name="keywords" id="keywords" class="form-control" placeholder="SEARCH FOR A POST" aria-label="SEARCH FOR A POST" aria-describedby="basic-addon1">
                  </div>
                </div>
              </div>
            {/exp:search:simple_form}

            <div class="row mt-46">
              {exp:channel:entries channel="blog" limit="16" disable="category_fields" dynamic="no"}
                <div class="col-lg-3 col-sm-6 individual">
                  <div class="card">
                    <div class="img-box ">
                      {exp:resizer:pair src="{blog_image}" width="255" height="165" crop="yes"}
                        <img src="{resizer:path}" alt="{title}" class="img-fluid" />
                      {/exp:resizer:pair}
                    <div class="overlay"></div>
                    </div>
                    <div class="card-body">
                      <a href="{page_url}" class="card-title">{title}</a>
                      <p class="card-text">{entry_date format="%d %F %Y"} by <a href="{page_url}">{author}</a></p>
                      <ul>
                        <li><a href="#">0 Likes</a></li>
                        <li><a href="#">{comment_total} Comments</a></li>
                      </ul>
                    </div>
                       <a href="{page_url}" class="card-footer btn btn-primary">read blog</a>
                  </div>
                </div>
              {/exp:channel:entries}
            </div>


          </div>         
     </section>

