{layout="layouts/_default"}
	
	{exp:channel:entries channel="general_pages" limit="1" disable="categories|category_fields|member_data|pagination"}
	<div class="blog-banner" style="background: url({page_banner});"></div>
	{/exp:channel:entries}
		<section class="blog-box top-title">
            <h2>Search Result</h2>
            <div class="custom-container">
      			<div class="row mt-46">
			    {exp:search:search_results switch="resultRowOne|resultRowTwo"}
				    <div class="col-lg-3 col-sm-6">
	                  <div class="card">
	                    <div class="img-box ">
	                      {exp:resizer:pair src="{blog_image}" width="255" height="165" crop="yes"}
	                        <img src="{resizer:path}" alt="{title}" class="img-fluid" />
	                      {/exp:resizer:pair}
	                    <div class="overlay"></div>
	                    </div>
	                    <div class="card-body">
	                      <a href="{page_url}" class="card-title">{title}</a>
	                      <p class="card-text">{entry_date format="%d %F %Y"} by <a href="{page_url}">{author}</a></p>
	                      <ul>
	                        <li><a href="#">0 Likes</a></li>
	                        <li><a href="#">{comment_total} Comments</a></li>
	                      </ul>
	                    </div>
	                       <a href="{page_url}" class="card-footer btn btn-primary">read blog</a>
	                  </div>
	                </div>
                {/exp:search:search_results}
                </div>
     	    </div>
     	</section>      
        
     	


	

