/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

/*Global */


blognav{
  display: flex;
  justify-content: center;
}

h3 {
  text-align: center;
}


.container{
  width: 80%;
  margin:auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

footer {
  display: flex;
  justify-content: center;
}

/* Header */
header{
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}


header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin:0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;
}

header a:hover{
  color: #e8491d;
  font-weight: bold;
}


/* Contact */
#contact{
  text-align: center;
}

#contact-me{
  padding: 1px;
}

/* Showcase */

#showcase{
  min-height: 600px;
  background: url('../images/uploads/showcase.png');
  background-position: center;
  background-size: 100%;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: overlay;

}

#showcase h1{
  margin-top: 220px;
  font-size: 55px;
  margin-bottom: 10px;

}

#showcase p{
  font-size: 20px;
}

/* Recent Posts */



.col-md-12{
  padding-bottom: 40px;

}
.col-md-10{
  padding-bottom: 40px;
}

.latest-blogs{
  padding-top: 40px;
  padding-bottom: 20px;
}

.recent-blog{
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 20px;
}

.latest-blogs-wrap{
  background-color: #ffffff;
  box-shadow: 0px 6px 15px rgba(0,0,0,0.5);
  margin-bottom: 25px;
}



.deat{
  background: #e8491d none repeat scroll 0 0;
  height: 70px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 70px;
  padding: 10px
}


.deat span{
  display: block;
  color: white;
  font-weight: 700;
  font-size: 16px;

}


.blog-content{
  padding: 20px;
  margin-left: 3px;

}

.blog-content i{
  font-size: 18px;
  display: inline-block;
}

.blog-content p{
  padding: 10px 10px;
  cursor: pointer;

}

.blog-content a{
  font-size: 14px;
  background-color: #000000;
  padding: 10px 20px;
  color: white;
  transition: all 0.5s ease-in;
}

/* Homepage */
#homerow{
  background-color: #35424a;

}


/* Sidebar */
.wrapper {
  display: flex;
  justify-content: space-between;
}


.sidebar {
  padding: 15px;
  background-color: #e8491d;
  text-align: center;
  vertical-align: center;
}

.sidebar a{
  color: white;
}

.sidebar h1{
  color: white;
}

.main h1{
  text-align: center;
}

.main p{
  text-align: left;
}

.main h3{
  text-align: center;
}

.main {
  width: 80%;
  height: 100vh;
}

.sidebar {
  width: 20%;
  height: 150vh;
}

body {
  background-color: #ffffff;
  font-family: sans-serif;
  padding: 10px;
}

.sidebar {
  position: -webkit-fixed;
  position: fixed;
  right: 0;
  top: 10px;
}




