        <div class="row">
          	<div class="col-xl-3 col-lg-4">
	            <ul class="nav nav-tabs" id="myTab" role="tablist">
	            	{exp:channel:categories category_group="1" show_empty="no" parent_only="yes" disable="category_fields" style="linear"}
	              		<li class="nav-item">
	                		<a class="nav-link {if count == 1}active{/if}" id="{category_url_title}-tab" data-toggle="tab" href="#{category_url_title}" role="tab" aria-controls="{category_url_title}" aria-selected="true">{category_name}</a>
	              		</li>
	              	{/exp:channel:categories}
	            </ul>
          	</div>
            <div class="col-xl-9 col-lg-8">
              <div class="tab-content" id="myTabContent">
					{exp:channel:categories category_group="1" show_empty="no" disable="category_fields" style="linear"}
					  	<div class="tab-pane fade show {if count == 1}active{/if}" id="{category_url_title}" role="tabpanel" aria-labelledby="{category_url_title}-tab">
					    	<p>{category_description}</p>
							<ul class="mfg-list">
								{exp:channel:entries channel="products" dynamic="no" disable="categories|category_fields|member_data|pagination" category="{category_id}"}
									<li><a href="{page_url}">{title}</a></li>
								{/exp:channel:entries}
							</ul>
					  	</div>
					{/exp:channel:categories}                
            </div>
           </div>
        </div>
