<footer class="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-4 col-md-7">
					<div class="get-quote">
						<img src="{path='assets/img/footer-logo.png'}" alt="{site_name}" class="img-fluid">
						<p class="pt-4 pb-4">Having trouble finding a highly specialized component? Don’t stress. Contact us today and we’ll get you the part you need.</p> 
						<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"><span>Get a Quote</span></a>
					</div>
				</div>
				<div class="col-lg-2 col-md-5">
					<ul class="footer-menu">
						<li><a href="{site_url}">Home</a></li>
						<li><a href="{path='about-us'}">About Us </a></li>
						<li><a href="{path='products'}">Products</a></li>
						<li><a href="{path='blog'}">Blog</a></li>
						<li><a href="{path='contact-us'}">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6">
					<ul class="contact-info">
						<li class="address"><p class="mb-0">7345 W. Sand Lake Road Unit 406<br> Orlando FL, 32819</p></li>
						<li class="phone"><a href="tel:4076406020">(407) 640 - 6020</a></li>
						<li class="mail"><a href="mailto:operations@orangeseal.us"> Operations@orangeseal.us</a></li>
					</ul>
				</div>
			   <div class="col-lg-2 col-md-6">
			   	<div class="nfpa-logo text-center">
			   	    <a href="https://www.nfpa.com/home.htm" target="_blank"><img src="{path='assets/img/nfpa-logo.png'}" alt="nfpa" class="img-fluid"></a>
			   	  </div>
			   </div>
		  </div>
   </div>
</footer>


<div class="copyright">
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <p class="mb-0">© 2019 ORANGE SEAL LLC | ALL RIGHTS RESERVED. <!--DEVELOPED BY <a href="https://www.dreamfactoryagency.com/" target="_blank">DREAM FACTORY AGENCY.</a>--></p>
    </div>
    <div class="col-lg-4">
      <ul class="social-icon">
        <li><a href="https://www.facebook.com/Orangesealllc/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
        <li><a href="https://www.linkedin.com/company/10928728/" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
        <li><a href="https://twitter.com/orangesealllc/" target="_blank"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>
</div>
</div>