<!-- get a support-popup -->

<!-- Modal -->
<div class="modal" id="exampleModalCenters" tabindex="-1" role="dialog" aria-labelledby="exampleModalCentersTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1>get support</h1>
        {exp:channel:form channel="form_get_support" dynamic_title="[first_name] [last_name]" return="/" class="get-form" id="get-a-form"}
        
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" name="first_name" placeholder="First Name*">
            </div>
             <div class="form-group col-md-6">
                <input type="text" class="form-control" name="last_name" placeholder="Last name*">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="email" class="form-control" name="email_address" placeholder="Email*">
            </div>
             <div class="form-group col-md-6">
              <input type="text" class="form-control" name="phone_number" placeholder="Phone Number">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" name="job_title" placeholder="job title">
            </div>
             <div class="form-group col-md-6">
              <input type="text" class="form-control" name="company_name" placeholder="Company Name*">
            </div>
          </div>
         
          <div class="form-row">
            <div class="form-group col-md-12">
               <textarea class="form-control" rows="3" name="part_description" placeholder="description"></textarea>
            </div>
          </div>
          <div class="text-center"><button type="Submit" class="btn btn-primary"> <span>Submit</span></button></div>
      {/exp:channel:form}
    </div>
  </div>
</div>