<header class="header">
  <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 order-lg-2">
              <ul class="side-menu">                  
                  <li><a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"><span>get a quote</span></a></li>
                  <li><a href="tel:4076406020" class="btn btn-primary"><span>407-640-6020</span></a></li>                
                  <li class="dropdown dropleft">
                    <div class="search-box" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><a href="#"><img src="http://clients.dreamfactoryagency.com/orangeseal/assets/img/search1.png" alt="Search" /></a></div>
                    <div class="dropdown-menu  dropdown-menu-right" aria-labelledby="navbarDropdown">
                        {exp:search:simple_form channel="products|blog" result_page="products/results" no_result_page="search/noresults"}
                          <div class="input-group">
                            <input type="text" name="keywords" id="keywords" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-de-cribedby="basic-addon2">
                            <div class="input-group-append">
                              <button class="btn btn-search" type="submit" value="submit" name="submit"><i class="fa fa-search"></i></button>
                            </div>
                          </div>
                        {/exp:search:simple_form}
                    </div>
                  </li>                
             </ul>
          </div>
          <div class="col-lg-6">
              <nav class="navbar navbar-expand-lg">
                  <a class="navbar-brand" href="{site_url}"> <img src="http://clients.dreamfactoryagency.com/orangeseal/assets/img/header-logo.png" alt="{site_name}" /></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="nav navbar-nav">
                      <li class="nav-item"><a class="nav-link {if last_segment == ''}active{/if}" href="{site_url}"><span>Home</span></a></li>                  
                      <li class="nav-item"><a class="nav-link {if last_segment == 'about-us'}active{/if}" href="{path='about-us'}"><span>About us</span></a></li>
                      <li class="nav-item"><a class="nav-link {if last_segment == 'products'}active{/if}" href="{path='products'}"><span>Products</span></a></li>
                      <li class="nav-item"><a class="nav-link {if last_segment == 'blogs'}active{/if}" href="{path='blogs'}"><span>Blog</span></a></li>
                      <li class="nav-item"><a class="nav-link {if last_segment == 'contact-us'}active{/if}" href="{path='contact-us'}"><span>Contact</span></a></li>                        
                    </ul>
                  </div>
              </nav>
          </div>
          
      </div>
  </div>
</header>