{layout="layouts/_default"}

{exp:channel:entries channel="home" limit="1" entry_id="1" disable="categories|category_fields|member_data|pagination"}
	{hero}
		{if hero:hero_image}
			<div class="banner" style="background: url({hero:hero_image});background-size:cover;">
			 	<div class="container">
					<div class="banner-content">
						{if hero:upload_logo}
							<img src="{hero:upload_logo}" alt="{site_name}" />
						{/if}
						{if hero:hero_text}<h1>{hero:hero_text}</h1>{/if}
						{if hero:cta_text_pop_up}
							<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"><span>{hero:cta_text_pop_up}</span></a>
						{/if}
					</div>
				</div>
			</div>
		{/if}
	{/hero}

	{if main_content}
		<!-- orange-seal-wrapper -->
		<div class="orange-seal-wrapper">
			<div class="orange-seal-title"> 
				{main_content}
			</div>
			<div class="map">
		  		<img src="{path='assets/img/map.png'}" alt="{site_name}" class="img-fluid" />
		 		<div class="find-location"><h3>If it exists, we'll find it</h3>
		 			<img src="{path='assets/img/s-logo.png'}" alt="{site_name}" class="img-fluid" /> 
		 		</div>
			</div>
		 	<div class="right-border"></div>
		</div>
	{/if}

	{page_section}
		{page_section:about_section}
			{content}
				 <div class="about">
				 	<div class="container-fluid">
				 		<div class="row">
				 			<div class="col-xl-5">
				 				<div class="about-content">
					 				<h2>{content:heading}</h2>
					 				{content:text}
					 				{if content:cta_label}
					 					<a href="{content:cta_link}" class="btn btn-primary"><span>{content:cta_label}</span></a>
					 				{/if}
					 			</div>
				 			</div>
				 		</div>
				 	</div>
				</div>
			{/content}
		{/page_section:about_section}

		{page_section:products_section}
			{content}
				<div class="products">
					<div class="left-border"></div>
					<div class="container-fluid">
						<h2>{content:section_heading}</h2>
                        <div class="products-content">
                            <p>Need to find a part quickly or having trouble finding something highly specialized? Send us your request or call us today and let us get you the hydraulic or pneumatic parts you need. <a href="mailto:operations@orangeseal.us">Email</a> or call us at <a href="tel:+1-407-640-6020">407-640-6020</a>.</p>
                        </div>
                        <div class="row">
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            <div class="item">
                                <img src="http://clients.dreamfactoryagency.com/orangeseal/images/uploads/OCEAN-Seal_O-Rings-03-1.png" alt="" class="img-fluid" /> 
                                <h3>O-Rings</h3>
                                <p>Do you need rubber O-rings? Thermoplastic O-rings? Big ones? Small? No matter the size or the material of O-ring you want, we can find the perfect one for your application or equipment.</p>
                            </div> 
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            <div class="item">
                                <img src="images/uploads/OCEAN-Seal_Seal-kits-01-1.png" alt="" class="img-fluid" /> 
                                <h3>Seals and Seal Kits</h3>
                                <p>Need OEM or OEM-spec seals and seal kits for yourequipment? Rodseals, piston seals, oil seals, metric,imperial, hydraulicor pneumaticseals—you name it, we’ll find it!</p>
                            </div> 
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            <div class="item">
                                <img src="http://clients.dreamfactoryagency.com/orangeseal/images/uploads/OCEAN-Seal_Filters-08-1.png" alt="" class="img-fluid" /> 
                                <h3>Filters</h3>
                                <p>Nobody wants contaminants in their hydraulic fluid, so don’t ignore your filtration. Let’s find you the filters you need to keep your fluid power system clean and operating efficiently.</p>
                            </div> 
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            <div class="item">
                                <img src="http://clients.dreamfactoryagency.com/orangeseal/images/uploads/OCEAN-Seal_Hoses-02-1.png" alt="" class="img-fluid" /> 
                                <h3>Hoses and Fittings</h3>
                                <p>Looking for bulk hose, or a complete assembly hose reel? We’ll find the right hose to match your temperature and pressure requirements. Plus, get couplings, valves and fittings to go!</p>
                            </div> 
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            <div class="item">
                                <img src="http://clients.dreamfactoryagency.com/orangeseal/images/uploads/Orange_Seal_Winches-10.png" alt="" class="img-fluid" /> 
                                <h3>Winches</h3>
                                <p>No matter the load requirement, we can locate the right winch for your pulling needs, whether it’s electrical, mechanical, hydraulic or even a hybrid!</p>
                            </div> 
                        </div>
                        <div class="col-lg-2 col-md-4 col-sm-4">
                            <div class="item">
                                <img src="http://clients.dreamfactoryagency.com/orangeseal/images/uploads/OCEAN-Seal_Led-Lights-Bars-09-1.png" alt="" class="img-fluid" /> 
                                <h3>Misc. Accessories</h3>
                                <p>Let’s keep your equipment up and running with adapters, valves, control switches, electrical components, lights, safety gear, product manuals, exploded diagrams, steel grade markers, or any other system component you need!</p>
                            </div> 
                        </div>
                        </div>
						<!--<div id="product-item" class="owl-carousel owl-theme">
						 	{content:select_products}
								<div class="item">
									<img src="{content:select_products:product_image}" alt="{content:select_products:title}" class="img-fluid" /> 
									<h3>{content:select_products:title}</h3>
									{content:select_products:product_brief}
								</div>
					    	{/content:select_products}
				      	</div>-->
				        <div class="find-products">
				           <a href="{path='products'}" class="btn btn-primary"><span>find product</span></a>
				       	</div>
					</div>
				</div>
			{/content}
		{/page_section:products_section}

		{page_section:news_section}
			{content}
				<div class="news">
					<div class="container-fluid">
						<h2>{content:section_heading}</h2>
				 		<div id="news-post" class="owl-carousel owl-theme">
				 			{content:news}
			          			<div class="item">
			              			<div class="img-section">
			              				{if content:news:blog_image}
			                 				<img src="{content:news:blog_image}" alt="{content:news:title}" class="img-fluid" />
			              				{/if}
			             			</div>
			             			<div class="hover-content">
			             				<div class="top-title mb-3">{content:news:entry_date format="%d %F %Y"} <!--{content:news:author}-->, in {content:news:categories backspace="2"}{category_name}, {/content:news:categories}</div>
			                 			<h3>{content:news:title}</h3>
			                 			<p class="pt-3">{exp:streeng allowed="none" words="20" append="..."}{content:news:main_content}{/exp:streeng}</p> 
			                			<a href="{content:news:page_url}" class="read-btn">READ MORE +</a>
			             			</div>
			            		</div>
			        		{/content:news}
			    		</div>
				 	</div>
				</div> 
			{/content}
		{/page_section:news_section}
	{/page_section}

{/exp:channel:entries}