{layout="layouts/_default"}

{exp:channel:entries channel="general_pages" limit="1" disable="categories|category_fields|member_data|pagination"}
	<div class="about-banner" style="background-image: url({page_banner});"></div>
	
	<div class="aboutus-content top-title">
	  <div class="container-fluid">
	    <h2>{title}</h2> 
		{page_section}
		    {page_section:text_left_image_right}
		    	{content}
				    <div class="orange-seal">
				        <div class="row align-items-center">
				          <div class="col-xl-6 col">
				            <div class="orange-content">
				            	{content:text}
				            </div>
				          </div>
				        </div>
				    </div>
				   	<div class="right-border"></div>
				{/content}
		   	{/page_section:text_left_image_right}

		   	{page_section:statics}
		   		
				<div class="facility-wrapper">
				  	<div class="container-fluid">
				     	<ul class="facility-listing">
				     		{content}
					       		<li>
					           		<div class="number">{content:value}</div>
					           		<h4>{content:label}</h4>
					       		</li>
				       		{/content}
				     	</ul>
				    	<!--<div class="map">
				    		<img src="{path='assets/img/about-map.png'}" alt="" class="img-fluid">
				      		<div class="find-location"><h3>If it exists, we'll find it</h3></div>
				  		</div> -->
				  		<div class="left-border"></div>
				  		<div class="clearfix"></div>
				  	</div>  
				</div>
				
		   	{/page_section:statics}
		{/page_section}
		</div>
	</div>
{/exp:channel:entries}