{layout="layouts/_default"}

{exp:channel:entries channel="general_pages" limit="1" disable="categories|category_fields|member_data|pagination"}
	<div class="about-banner" style="background-image: url({page_banner});"></div>
	
	<div class="page-content">
	  	<div class="container-fluid">
	    	<h1 class="top-title">{title}</h1>
			{if main_content}
				<div class="row main_content">
					<div class="col-md-12">
						{main_content}
					</div>
				</div>
			{/if}
		</div>

		{page_section}
			{page_section:about_section}
				{content}
					 <div class="page-section about">
					 	<div class="container-fluid">
					 		<div class="row">
					 			<div class="col-xl-5">
					 				<div class="about-content">
						 				<h2>{content:heading}</h2>
						 				{content:text}
						 				{if content:cta_label}
						 					<a href="{content:cta_link}" class="btn btn-primary"><span>{content:cta_label}</span></a>
						 				{/if}
						 			</div>
					 			</div>
					 		</div>
					 	</div>
					</div>
				{/content}
			{/page_section:about_section}

		    {page_section:text_left_image_right}
		    	{content}
				    <div class="page-section orange-seal">
				        <div class="row align-items-center">
				          <div class="col-xl-6 col">
				            <div class="orange-content">
				            	{content:text}
				            </div>
				          </div>
				        </div>
				    </div>
				   	<div class="right-border"></div>
				{/content}
		   	{/page_section:text_left_image_right}

		   	{page_section:statics}
		   		
				<div class="page-section facility-wrapper">
				  	<div class="container-fluid">
				     	<ul class="facility-listing">
				     		{content}
					       		<li>
					           		<div class="number">{content:value}</div>
					           		<h4>{content:label}</h4>
					       		</li>
				       		{/content}
				     	</ul>
				  	</div>  
				</div>
				
		   	{/page_section:statics}
		{/page_section}
	</div>
{/exp:channel:entries}